#OS
[Tt]humbs.db
*.DS_Store
.Spotlight-V100
.Trashes

#Visual Studio
*.suo
*.user
*.sln.docstates

#Builds
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
*_i.c
*_p.c
*.ilk
*.meta
*.[Oo]bj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
.builds
*.unsuccessfulbuild
Ankh.NoLoad

#C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

#Others
[Bb]in
[Oo]bj
[Tt]est[Rr]esult
*.[Cc]ache
Backup*/
*.log
